@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background: #eee;
    margin-bottom: 20px;
}

h1{
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
}

h2{
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 0;
}

img{
    display: block;
    width: 100%;
}

main{
    max-width: 900px;
    margin: auto;
    box-shadow: 30px 0 40px rgba(0, 0, 0, 0.1),
    -30px 0 40px rgba(0, 0, 0, 0.1);
}

#landing{
    background: #fff;
}

#landing-text{
    display: flex;
    flex: 0 1 40vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}

.landing-text-inner h2{
    color: #888;
}

.btn{
    padding: 0.5rem 2rem;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgb(8, 131, 189);
    color: white;
    transition: background 0.5s ease;
    outline: none;
}

#landing-img{
    background: url(https://source.unsplash.com/IVaKksEZmZA);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    flex: 0 1 60vw;
    margin: 0;
}

.btn:hover{
    opacity: 0.8;
    cursor: pointer;
}

#header{
    padding: 1.5rem;
    text-align: center;
    background: #333;
    color: #fff;
}

#header h2{
    color: orangered;
    border-left: 1px solid skyblue;
    border-right: 1px solid skyblue;
    display: inline-block;
    padding: 0 5px;
}

.caption{
    padding: 0.8rem;
    text-align: center;
}

.caption h3{
    margin-bottom: 15px;
}

footer{
    text-align: center;
    margin-top: 20px;
}

footer h3{
    font-size: 2rem;
    margin-bottom: 10px;
}

footer p{
    margin: 5px;
}


/* Screen Sizes 500px and Up */

@media(min-width: 500px){
    #landing{
        display: flex;
        height: 100%;
    }

    #landing-text{
        height: 100vh;
    }

    #landing-img{
        height: 100vh;
    }
}

/* Screen Sizes 700px and Up */

@media(min-width: 700px){
    .btn{
        padding: 1rem 3rem;
        background-color: rgb(13, 194, 110);
    }
}
